astroid==2.3.3
autopep8==1.5
backcall==0.1.0
bandit==1.6.2
bottle==0.12.18
bottle-websocket==0.2.9
certifi==2019.11.28
cffi==1.14.0
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
Eel==0.13.2
flowiz==2.3.1
future==0.18.2
gevent==20.6.2
gevent-websocket==0.10.1
gitdb==4.0.2
GitPython==3.1.0
greenlet==0.4.16
imageio==2.8.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.16.0
jupyter-client==6.0.0
jupyter-core==4.6.3
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
matplotlib==3.2.0
mccabe==0.6.1
networkx==2.4
numpy==1.18.1
opencv-contrib-python==4.3.0.36
opencv-python==4.4.0.42
parso==0.6.2
pbr==5.4.4
persist-queue==0.5.0
pickleshare==0.7.5
Pillow==7.0.0
prompt-toolkit==3.0.4
pycodestyle==2.5.0
pycparser==2.20
pydot==1.4.1
pygame==1.9.6
Pygments==2.6.1
pylint==2.4.4
pyparsing==2.4.6
python-dateutil==2.8.1
PyWavelets==1.1.1
pywin32==227
PyYAML==5.3
pyzmq==19.0.0
scikit-image==0.16.2
scipy==1.4.1
six==1.14.0
smmap==3.0.1
stevedore==1.32.0
tornado==6.0.4
tqdm==4.47.0
traitlets==4.3.3
typed-ast==1.4.1
wcwidth==0.1.8
whichcraft==0.6.1
wincertstore==0.2
wrapt==1.11.2
zope.event==4.4
zope.interface==5.1.0
